* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* Default font size is now 10px */
}
@font-face {
    font-family: inter-bold ;
    src: url(/assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: inter-extrabold;
    src: url(/assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(/assets/fonts/static/Inter-Regular.ttf);
}
.body1 {
  max-width: 1920px;
  width: 95%;
  margin: 100px auto;
  display: flex;
  gap: 1rem;
}
.image-news{
    width: 100%;
}
.image>img {
  width: 100%;
  height: auto;
}
.news2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.web3{
    p{
        font-size: 6rem;
        font-family: inter-bold,sans-serif;
        color: hsl(240, 100%, 5%);
    }
}
.news2>.readmore{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news2>.readmore>p:nth-child(1){
    font-family: inter-regular,sans-serif;
    font-size: 2rem;
    color: hsl(236, 13%, 42%);
    line-height: 2.5rem;
}
.news2>.readmore>p:nth-child(2){
    font-family: inter-bold,sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
    text-align: center;
    padding: 1.5rem;
    width: 22rem;
    background-color: hsl(5, 85%, 63%);
    a{
        text-decoration: none;
        color: hsl(240, 100%, 5%);
    }
}
.news2>.readmore>p:nth-child(2):hover{
    background-color: hsl(240, 100%, 5%);
    transition: all 0.4s;
    a{
        text-decoration: none;
        color: white;
        transition: all 0.4s;
    }
}
.ver-news{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    padding-block: 1rem;
    background-color:hsl(240, 100%, 5%) ;
}
.ver-news>h1{
    color: hsl(35, 77%, 62%);
    font-family: inter-bold,sans-serif;
    font-size: 5rem;
    margin-inline: 1rem;
    margin-bottom: 1rem;
}
.ver-news>.contnews>.genz>.updates{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: 1rem;
    margin-bottom: 1rem;
}
.ver-news>.contnews>.genz>.updates>p:nth-child(1){
    font-family: inter-bold,sans-serif;
    font-size: 2rem;
    a{
        text-decoration: none;
        color: white;
    }
}
.ver-news>.contnews>.genz>.updates>p:nth-child(1):hover{
        a{
        transition: all 0.4s;
        color: hsl(35, 77%, 62%);
    }
}
.ver-news>.contnews>.genz>.updates>p:nth-child(2){
    font-family: inter-regular,sans-serif;
    color: white;
    font-size: 1.7rem;
    line-height: 3rem;

}
.ver-news>.contnews>.genz>hr{
    border: 1px solid white;
    margin-block: 1.5rem;
    margin-inline: 1.5rem;
}

@media (max-width : 71rem) {
   html{
    font-size: 50%;
   }
}
